@use '../utils/font-size.variables.scss' as font-sizes;
@use '../utils/color.variables.scss' as colors;
@use 'sass:map';

.Button_SportSee {
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 60px;

    img {
        height: inherit;
    }

    span {
        font-weight: 500;
        font-size: font-sizes.$font-lg;
        color: map.get(colors.$primary, '500');
    }
};