@use "../utils/utils_colors.scss" as colors;
@use "../fonts/fonts_family.scss" as families;
@use "../fonts/fonts_weight.scss" as weights;
@use "../fonts/fonts_size.scss" as sizes;

*, *::before, *::after {
    margin              : 0px;
    padding             : 0px;
    box-sizing          : border-box;
    border              : 0px solid transparent;
    outline             : 0px solid transparent;
    list-style          : none;
    text-decoration     : none;
    background-color    : transparent;
};

html {
  scroll-behavior       : smooth;
};

body, #root {
    display             : flex;
    flex-direction      : column;
    width               : 100%;
    min-height          : 100dvh;
    background-color    : colors.$mono-50;
    @include families.font-primary(sizes.$font-base, weights.$weight-base, colors.$mono-950);
};