// 👨‍🎨 Here master painter 👋 defines the core color palettes used throughout the application

$mono-50      : #FFFFFF;  
$mono-100     : #FBFBFB;  
$mono-200     : #E6E7EA;   
$mono-300     : #74798C;   
$mono-400     : #5F6474;   
$mono-500     : #444953;   
$mono-600     : #282D30;   
$mono-700     : #1E2023;   
$mono-800     : #121415;   
$mono-900     : #020203;   
$mono-950     : #000000;    

$base-primary           : #FF0000;
$base-secondary         : #E60000;
$base-tertiary          : #FF0101;

$backgroundApple        : #F9CE23;
$backgroundBurger       : #FD51811A;
$backgroundChicken      : #4AB8FF1A;
$backgroundEnergy       : #FF0000;