@use "../fonts/fonts_size.scss" as fonts_size;
@use "../utils/utils_colors.scss" as utils_colors;

.buttonToggleMode {
    display             : flex;
    flex-direction      : column;
    gap                 : 0.5rem;
    padding             : 0.5rem;
    border-radius       : 4px;
    background-color    : utils_colors.$mono-200;
    opacity             : 0;
    transition          : all 0.2s ease;
    
    & > span {
        text-wrap       : nowrap;
        text-align      : left;
        font-size       : fonts_size.$font-2xs ;
    }
}

.buttonToggleMode:hover {
    opacity             : 1;
    cursor              : pointer;
}