@use "../utils/utils_colors.scss" as colors;
@use "../fonts/fonts_weight.scss" as weights;
@use "../fonts/fonts_size.scss" as sizes;

.nutritionLegend {
    display                 : flex;
    flex                    : 1;
    gap                     : clamp(0.75rem, 1vw, 1.5rem);
    align-items             : center;
    padding                 : clamp(1rem, 1vw, 2rem);
    border-radius           : 5px;
    background-color        : colors.$mono-100;
    box-shadow              : 0 2px 4px 0 rgba(0, 0, 0, 0.02);

    & > img {
        width               : 60px;
        height              : 60px;
    }

    & > div {
        display             : flex;
        flex-direction      : column;
        gap                 : 0.5rem;

        & h3 {
            font-size           : clamp(0.875rem, 1vw, 1.125rem);
            font-weight         : weights.$weight-xl;
            color               : colors.$mono-600;
        }

        & p {
            font-size           : clamp(0.625rem, 1vw, 0.875rem);
            font-weight         : weights.$weight-md;
            color               : colors.$mono-300;
        }
    }
}