@use "../utils/utils_colors.scss" as utils_colors;

.toolTipActivity {
    display                 : flex;
    flex-direction          : column;
    gap                     : 0.5rem;
    align-items             : center;
    justify-content         : center;
    padding                 : 0.25rem 0.5rem;
    background-color        : utils_colors.$base-secondary;

    & div {
        font-size           : 8px;
        font-weight         : 500;
        line-height         : 1.5rem;
        color               : utils_colors.$mono-50;
    }
}
