.appPage {
    display             : flex;
    flex                : 1;
    flex-direction      : column;
    width               : 100%;
    min-width           : 1024px;
    max-width           : 1440px;
    // max-height          : 768px;

    & > div {
        display         : flex;
        flex            : 1;
    }
}