.dashboardPage {
    display             : flex;
    flex-direction      : column;
    flex                : 1;
    gap                 : 4rem;
    padding             : 4rem 1.875rem 1.875rem 1.875rem;

    & > div { 
        display             : flex;
        flex                : 1;
        gap                 : 1.875rem;
        justify-content     : space-between;

        & > div { 
            display                 : flex;
            flex                    : 1;
            gap                     : 1.875rem;
            flex-direction          : column;

            & > div {
                display             : flex;
                flex                : 1;
                gap                 : 1.875rem;
                justify-content     : space-between;
            }
        }
    }
}
