.dashboardPage {
    display             : flex;
    flex-direction      : column;
    flex                : 1;
    gap                 : 4rem;
    padding             : 4rem 5.625rem 5.625rem 5.625rem;

    & > div { 
        display             : flex;
        flex                : 1;
        gap                 : 30px;
        justify-content     : space-between;
        background-color    : pink;

        & > div { 
            display                 : flex;
            flex                    : 1;
            gap                     : 30px;
            flex-direction          : column;
            background-color        : blue;

            & > div {
                display             : flex;
                flex                : 1;
                gap                 : 30px;
                justify-content     : space-between;
            }
        }
    }
}