.homePage {
    display             : flex;
    flex-direction      : column;
    flex                : 1;
    padding             : 4rem 5.625rem 5.625rem 5.625rem;
    background-color    : orange;
}