@use "../utils/utils_colors.scss" as colors;
@use "../fonts/fonts_weight.scss" as weights;
@use "../fonts/fonts_size.scss" as sizes;

.asideNavView {
    position            : relative;
    inset               : 0px;
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
    padding             : 60px 26px;
    background-color    : colors.$mono-900;

    & > nav { 
        display             : flex;
        flex-direction      : column;
        gap                 : 20px;
    }

    & > footer {
    position        : absolute;
    bottom          : 60px;

        & > p {
            writing-mode    : sideways-lr;
            font-size       : sizes.$font-xs;
            font-weight     : weights.$weight-md;
            color           : colors.$mono-50;
        }
    }
}