@use "../utils/utils_colors.scss" as colors;

.asideNavView {
    position            : relative;
    inset               : 0px;
    display             : flex;
    flex-direction      : column;
    justify-content     : center;
    align-items         : center;
    padding             : 60px 26px;
    background-color    : colors.$mono-900;
}