@use "../utils/utils_colors.scss" as utils_colors;

.chartAverageSessionsView {
    display                 : flex;
    flex                    : 1;
    flex-direction          : column;
    border-radius           : 5px;
    background-color        : utils_colors.$base-secondary;
    box-shadow              : 0 2px 4px 0 rgba(0, 0, 0, 0.02);

    & > div { 
        display         : flex;
        flex            : 1;
    }
}