@import './variables.css';

*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--monochrome-black-color);
}

.AppLayout {
    width: 100vw;
    max-width: 1440px;
    min-width: 1024px;
    height: 100vh;
    min-height: 780px;
    max-height: 1024px;
    background-color: var(--monochrome-white-color);
}